body
{
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	background-color: #EEEEEE;
}

div, p, h1, h2, h3, form, table, td, th
{
	margin: 0;
	padding: 0;
}

table
{
	border-spacing: 0;
}

form
{
	display: inline;
}

img
{
	border: 0;
}

.clearer
{
	clear: both;
}

.clearleft
{
	clear: left;
}

.clearright
{
	clear: right;
}

a:link, a:visited
{
	color: #004287;
	text-decoration: none;
}

a:hover, a:hover b
{
	color: #004287;
	text-decoration: underline;
}


img
{
	border: 0 none;
}

#main
{
	background-color: #EEEEEE;
}

#mainContent
{
	margin: 0 auto;
	padding: 10px;
	width: 795px;
}

#header
{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding: 10px;
	width: 773px;
	height: 25px;
}

#beta
{
	background-color: #FFFFCC;
	margin-bottom: 10px;
	padding: 10px;
	width: 773px;
	color: #777777;
}

#slogan
{
	width: 500;
	float: left;
}

#suggest
{
	float: right;
	width: 200px;
	text-align: right;
	margin-top: 5px;
}

#footer
{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-right: 180px;
	padding: 10px;
	width: 593px;	
	color: #777777;
}

#footer a:link, #footer a:link, #footer a:visited
{
	color: #777777;
	text-decoration: none;
}

#footer a:hover
{
	color: #497BB6;
	text-decoration: underline;
}

#content
{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-right: 180px;
	padding: 10px;
	width: 593px;	
	margin-bottom: 10px;
}

.summary
{
	padding: 10px;
	font-size: 20px;
	font-weight: normal;
	line-height: 23px;
	margin-bottom: 20px;
}

#tweetmeme
{	

}

#digg
{	
	margin-top: 15px;
}

#topshare
{
	float:right;
}

#contentheader
{
	width: 525px;
}

#contentheader h2
{
	font-size: 20px;
	font-weight: normal;
	line-height: 23px;
	margin-bottom: 20px;
}

#contentheader h3
{
	font-size: 10px;
	color: gray;	
}

#question
{
	padding: 10px;
	margin-bottom: 30px;
}

#question h2
{
	margin-bottom: 10px;
}

#noresponse
{
	border-top: 1px dashed #CCCCCC;
}

#outofdate
{
	background-color: #FFFFCC;
	padding: 10px;
	color: #777777;
}

#noresponse h2
{
	font-size: 20px;
	font-weight: normal;
	line-height: 23px;
	margin-top: 20px;
	text-align: center;
}

#noresponseblank
{
	height: 450px;
}

#responses img
{
	vertical-align:text-bottom;
}

#content li
{
	border-bottom: 1px dashed #CCCCCC;
	margin: 0;
	overflow: hidden;
	padding: 15px 5px;
}

#content .recent
{
	font-size: 14px;
	color: Gray;	
}

#content ul
{
	border-top: 1px dashed #CCCCCC;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#content li div.avatar
{
	float: left;
	height: 48px;
	overflow: hidden;
	width: 48px;
}

#content li .msg
{
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 5px;
	margin-left: 58px;
}

#content li .info, #content li .debug
{
	color: #777777;
	font-size: 13px;
	margin-left: 58px;
}

#content li .info .source a:visited
{
	color: #777777;
}

#content li .info .source a
{
	color: #777777;
	font-style: italic;
	text-decoration: none;
}

#content li div.avatar img
{
	height: 48px;
	width: 48px;
}

#sidebar
{
	float: right;
	width: 170px;
}

#sidebar .module
{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #777777;
	margin: 0 0 10px;
	padding: 10px;
	width: 148px;
}

#sidebar .module p
{
	margin-bottom: 20px;
}

.module .nav a:link, .module .nav a:link, .module .nav a:visited
{
	color: #000;
	text-decoration: none;
}

.module .nav a:hover
{
	color: #000;
	text-decoration: underline;
}

.module a:link, .module a:link, .module a:visited
{
	color: #777777;
	text-decoration: none;
}

.module a:hover
{
	color: #497BB6;
	text-decoration: underline;
}

#sidebar .module h3
{
	color: #000000;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 5px;
}

#content #pager-bottom.paginator
{
	margin-bottom: 0;
}

#sidebar .list ul
{
	list-style-type: none;
	margin: 0 0 5px;
	padding: 0;
}

#sidebar .list li
{
	color: #777777;
	margin: 0 0 12px;
	padding: 0;
}

.lit a:link, a.lit:link
{
	color: #497BB6;
}

.litnv a:link, a.litnv:link
{
	color: #497BB6;
}

#content .paginator
{
	margin: 10px 0;
	text-align: center;
}

#share {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../Content/share_sprite.gif) no-repeat scroll 0 2px;
	display:block;
	padding:0px 0 4px 25px;
}

#boring
{
	color: #777777;
}

#boring p
{
	margin-bottom: 25px;	
}

#boring h2
{
	font-size: 20px;
	font-weight: normal;
	line-height: 23px;
	margin-bottom: 20px;
}

#boring h3
{
	font-size: 14px;
	border-bottom: 1px dashed #CCCCCC;
	font-weight: normal;
	line-height: 17px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#boring h4
{
	font-size: 10px;
	font-weight: normal;
	margin-bottom: 10px;
}

#boring ul
{
	border-top: none;
	margin-bottom: 20px;	
}

#boring li
{
	border-bottom: none;
	margin:0;
	overflow:hidden;
	padding: 0px 0px 10px 20px;
}

#error p
{
	padding-left: 20px;
	margin-top: 50px;
	margin-bottom: 300px;	
	font-size: 20px;
}